<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Applications</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>

    <div class="all-apps-body">
      <div class="all-apps-header">
        <h1>Your Jobs</h1>
        <a class="add-app-link" href="/users/<%=user._id%>/jobs/new">Add an App</a>
      </div>
      <ul>

        <% jobs.forEach((jobs)=>{ %>
        <a href="/users/<%= user._id %>/jobs/<%= jobs._id %>">
          <li><%= jobs.title %> at <%= jobs.company %></li>
        </a>
        <% }) %>
      </ul>
    </div>

    <h1>New Applications</h1>
    <a href="/jobs/new">Create a New Job</a>
    <ul>
        <% jobs.forEach(job => { %>
          <li>
            <strong><%= job.title %></strong> - <%= job.status %>
            <a href="/jobs/<%= job._id %>">View</a>
            <a href="/jobs/<%= job._id %>/edit">Edit</a>
            <form action="/jobs/<%= job._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
            </form>
            <% if (job.workerAssigned) { %>
              <p>Assigned Worker: <%= job.workerAssigned.name %></p>
              <p>Rating: <%= job.workerAssigned.averageRating %></p>
            <% } %>
          </li>
        <% }) %>
    </ul>
</body>
</html>