<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/show.css" />
    <title>Document</title>
</head>
<body>
        <%- include('../partials/_navbar.ejs') %>
        <div class="show-body">
          <div class="show-header">
            <h1><%= job.title %> at <%= job.company %></h1>
            <div class="show-sidebar">
              <div class="show-actions">
                <a href="/users/<%= user._id %>/jobs/<%= job._id %>/edit">Edit App</a>
                <form action="/users/<%= user._id %>/jobs/<%= job._id %>?_method=DELETE" method="POST">
                  <button type="submit">Delete App</button>
                </form>
              </div>
              <p>Current Status: <%= job.status %></p>
            </div>
          </div>
          <div class="show-notes-container">
            <% if (job.postingLink) { %>
            <a href="<%= job.postingLink %>" target="_blank">View Job Posting</a>
            <% } %> <% if (job.notes) { %>
            <div class="show-notes">
              <h2>Notes:</h2>
              <p><%= job.notes %></p>
            </div>
            <% } %>
          </div>
        </div>

    <h1><%= job.title %></h1>
    <p><%= job.description %></p>
    <p>Status: <%= job.status %></p>
    
    <% if (job.workerAssigned) { %>
        <h3>Assigned Worker: <%= job.workerAssigned.name %></h3>
        <p>Current Rating: <%= job.workerAssigned.rating %></p>
        <form action="/rate-worker/<%= job.workerAssigned._id %>" method="POST">
            <label for="rating">Rate Worker:</label>
            <input type="number" id="rating" name="rating" min="1" max="5" required>
            <button type="submit">Submit Rating</button>
        </form>    
    <% } %>
</body>
</html>
